port=3000

acess_token=a1XAmge2xH6Mf7slRKxSUY66l5gfbomggslXGKH92bw

refresh_token=YbhTcHBRth+C8GN>#gR/Oyu8H1*VIgR[>I#.k4ynT)6nY0_*pvieGk]c6@$C+hsP|v(Z*aOHdC^ByJ2C].>$:


# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.wqhaohmjrucdrkccvscn:aMN0VAIn4GkEcaVA@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.wqhaohmjrucdrkccvscn:aMN0VAIn4GkEcaVA@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"



supabaseurl=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxaGFvaG1qcnVjZHJrY2N2c2NuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjI2ODIyNCwiZXhwIjoyMDk3ODQ0MjI0fQ.9ZDOG8BP0Jvm-trVDxWyatfuK8vQWG5kmIbcblj13CE

project_url=https://wqhaohmjrucdrkccvscn.supabase.co

#pasword
SECRET_KEY=OdMiJEJs#rx6)wV{]^<j<}5p[&XGgO(y*osh=a|c<JOS%arvj_LGh!|J1Ym&Hj%SGc?;7Dhv<JdLY/Ggt:h6.




EMAIL=semwalakshit19@gmail.com
EMAIL_PASSWORD=cnwk lraz fljl bfbd
FRONTEND_URL=http://localhost:3000
SECRET_KEY=MySuperSecret@Key#2024!



mango_url=mongodb://akshit:1234567890@ac-1oimfhq-shard-00-00.eq90pwy.mongodb.net:27017,ac-1oimfhq-shard-00-01.eq90pwy.mongodb.net:27017,ac-1oimfhq-shard-00-02.eq90pwy.mongodb.net:27017/E-commerce?tls=true&replicaSet=atlas-hk4rcp-shard-0&authSource=admin&retryWrites=true&w=majority


CLOUDINARY_CLOUD_NAME=dbi2izwfz
CLOUDINARY_API_KEY=314613576123261
CLOUDINARY_API_SECRET=cvlcUyC23BgiiKMBtGDmfHNvOug
USE_CLOUDINARY=true


RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_test_key_secret
GOOGLE_CLIENT_ID=
